.container {
  /* padding-top: 100px; */
  height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  padding: 20px 30px;
}

.form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_group {
  display: flex;
  gap: 20px;
}

.meta {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
