.dashboard {
  margin-top: 80px;
}

.dashboard_content {
  padding: 20px 0;
}

.dashboard_content__header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_content__header h3 {
  color: var(--textActive);
  font-weight: 500;
}

.dashboard_content__header button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 6px;
  color: var(--text);
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.dashboard_content__header button:hover {
  color: var(--textActive);
}

.dashboard_content__header button span {
  font-weight: 500;
}

.divider {
  margin: 20px 0 0;
  border-bottom: 2px solid var(--accent);
}
