.login {
  margin-top: -100px;
}

.card {
  padding: 20px 30px;
}

.form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.meta {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.meta a {
  color: var(--primary-main);
}
