.breadcrumb__box {
  font-size: 18px;
  font-weight: 500;
}

.breadcrumb__box a {
  color: var(--text);
  margin-right: 5px;
  transition: color 0.3s ease-in-out;
}

.breadcrumb__box a:after {
  content: '/';
  padding-left: 5px;
  color: var(--text);
}

.breadcrumb__box a:last-of-type::after {
  color: var(--textActive);
}

.breadcrumb__box a:hover {
  color: var(--textActive);
}

.breadcrumb__box .disabled {
  color: var(--textActive);
}

.divider {
  color: var(--textActive);
  padding: 0 5px;
}
