.header {
  background: #fff;
  padding: 20px;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
  z-index: 10;
  position: relative;
}

.header .container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex: 2;
}

.nav {
  display: flex;
  flex: 2;
  justify-content: center;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.menu li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;

  transition: all 0.3s ease-in-out;
}

.menu li a:hover h6 {
  color: var(--primary-main);
}

.menu li a.active h6 {
  color: var(--primary-main);
}

.user {
  position: relative;
  z-index: 10;
}

.user ul {
  flex-direction: column;
}

.user .user_content {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 10;
  background: #fff;
}

.user_content {
  cursor: pointer;
}

.user .user_info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.user_menu_btn {
  transition: all 0.3s ease-in-out !important;
}

.user_menu_btn.active {
  transform: rotate(-180deg);
}

.user_menu {
  position: absolute;
  background: #fff;
  width: 100%;
  top: calc(100% + 10px);
  left: 0%;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
  border-radius: 6px;
  transform: translateY(-70%);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.user_menu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.menu_icon {
  display: none !important;
}

.menu.active {
  transform: translateY(0);
}

.mobile_menu {
  display: none;
  flex-direction: column;
  gap: 150px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateY(-100%);
}

.mobile_menu ul {
  list-style: none;
}

.mobile_menu li {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.mobile_menu :is(a:hover h6, a.active h6, .menu_action:hover) {
  color: var(--primary-main);
}

.mobile_menu h6 {
  text-align: center;
  font-size: 22px;
}

.mobile_menu div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobile_menu.active {
  transform: translateY(0);
}

.close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

@media (max-width: 620px) {
  .menu_icon {
    display: block !important;
  }

  .mobile_menu {
    display: flex;
  }

  .menu,
  .user,
  .login {
    display: none !important;
  }
}
